*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 100%;
}
.container{
    position: relative;
    width: 100%;
    height: 115vh;
    background-image: url(vershina_gora_sneg_630729_3840x2400.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.winter-text{
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: navy;
}


